# Dependencies
node_modules/
.pnp
.pnp.js

# Testing & Reports
/coverage
playwright-report/
test-results/
*.tsbuildinfo

# Build outputs
.next/
out/
dist/
auremont-backend/dist/
auremont-backend/src/**/*.js
auremont-backend/src/**/*.d.ts
auremont-backend/src/**/*.js.map
auremont-backend/test/**/*.js
auremont-backend/test/**/*.d.ts
auremont-backend/test/**/*.js.map

# Production & Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System & OS
.DS_Store
*.pem
Thumbs.db

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
